img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

body {
    padding: 20px;
}

.error {
    color: red;
}

.cat-info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30;
    margin-top: 30px;
}